[submodule "themes/octopress"]
	path = themes/octopress
	url = https://github.com/parsiya/Hugo-Octopress.git
[submodule "public"]
	path = public
	url = git@github.com:dannysunyu/dannysunyu.github.io.git
	branch = master
